* {
  margin: 0;
  padding: 0;
}

::selection {
  background: none;
}

body {
  font-family: "Inconsolata", monospace;
  color: rgb(53, 53, 53);
  background-image: url("../img/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.header {
  font-size: 50px;
  background-color: rgba(255, 255, 255, 0.26);
  border-radius: 13px;
}

.preview {
  height: 10px;
  line-height: 10px;
  opacity: 0.3;
  color: #313131;
  font-size: 13pt;
  overflow: hidden;
  text-overflow: clip;
  white-space: nowrap;
}

.preview,
.header {
  text-align: right;
  padding: 15px;
  font-weight: 50;
}

.align-v {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 30px;
}

.calc-box {
  overflow: hidden;
  padding: 16px;
  border-radius: 25px;

  display: grid;
  grid-template-rows: repeat(6, minmax(55px, auto));
  grid-template-columns: repeat(4, 55px);
  grid-gap: 10px;

  background-color: rgba(255, 255, 255, 0.336);
  backdrop-filter: saturate(180%) blur(15px);
  -webkit-backdrop-filter: saturate(180%) blur(15px);
}

.secondary {
  opacity: 0.6;
}

.num {
  font-family: "Inconsolata", monospace;
  border: none;
  line-height: 55px;
  background-color: rgba(255, 255, 255, 0.295);
  font-size: 20px;
  transition: 0.3s;
  border-radius: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  font-weight: 300;
  -webkit-box-shadow: 0px 0px 40px -18px rgba(0, 0, 0, 0);
  -moz-box-shadow: 0px 0px 40px -18px rgba(0, 0, 0, 0);
  box-shadow: 0px 0px 40px -18px rgba(0, 0, 0, 0);
}

.num:active {
  color: rgb(27, 3, 3);
  background-color: rgba(255, 255, 255, 0.11);
  transform: scale(0.8) !important;
  backdrop-filter: saturate(220%);
  -webkit-backdrop-filter: saturate(150%);
}
.num:hover {
  opacity: 1;
  transform: scale(1.09);
  -webkit-box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.15);
}

.multiply,
.substract,
.add,
.equal,
.divide {
  background-color: #e9812ba9 !important;
  color: rgb(68, 34, 12);
}
.zero {
  grid-column: 1/3;
  grid-row: 8;
}
.multiply {
  grid-column: 4;
  grid-row: 5;
}
.substract {
  grid-column: 4;
  grid-row: 6;
}
.add {
  grid-column: 4;
  grid-row: 7;
}
.equal {
  grid-column: 4;
  grid-row: 8;
}
.header {
  grid-column: 1/5;
}
.ac:active {
  background-color: rgba(252, 30, 30, 0.507) !important;
}
.ac:hover {
  background-color: rgba(252, 30, 30, 0.507) !important;
}

@media (prefers-color-scheme: dark) {
  body {
    background-image: url("../img/bg_dark.jpg");
  }
  .calc-box {
    background-color: rgba(0, 0, 0, 0.199);
  }
  .num {
    color: white;
    background-color: rgba(0, 0, 0, 0.199);
  }
  .num:active {
    color: white !important;
  }
  .header {
    color: white;
    background-color: rgba(0, 0, 0, 0.199) !important;
  }
  .preview {
    color: #ffffff;
  }
  .num:hover {
    -webkit-box-shadow: 0px 0px 25px 0px rgba(187, 187, 187, 0.171);
    -moz-box-shadow: 0px 0px 25px 0px rgba(187, 187, 187, 0.171);
    box-shadow: 0px 0px 25px 0px rgba(187, 187, 187, 0.171);
  }
}
